@model CompanyAddDto
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fas fa-plus"></span> Ürün Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form asp-action="Add" id="form-product-add">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none;"></div>
                    <div class="form-group">
                        <label asp-for="CompanyName"></label>
                        <input type="text" class="form-control" asp-for="CompanyName" />
                        <span class="text-danger" asp-validation-for="CompanyName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepartmanName"></label>
                        <input class="form-control" type="text" asp-for="DepartmanName" />
                        <span class="text-danger" asp-validation-for="DepartmanName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Manager"></label>
                        <input class="form-control" type="number" asp-for="Manager" />
                        <span class="text-danger" asp-validation-for="Manager"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompanyPhone"></label>
                        <input class="form-control" type="number" asp-for="CompanyPhone" />
                        <span class="text-danger" asp-validation-for="CompanyPhone"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManagerPhone"></label>
                        <input class="form-control" asp-for="ManagerPhone" />
                        <span class="text-danger" asp-validation-for="ManagerPhone"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City"></label>
                        <input class="form-control" asp-for="City" />
                        <span class="text-danger" asp-validation-for="City"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="County"></label>
                        <input class="form-control" asp-for="County" />
                        <span class="text-danger" asp-validation-for="County"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Note"></label>
                        <input type="text" class="form-control" asp-for="Note" />
                        <span class="text-danger" asp-validation-for="Note"></span>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                        <label asp-for="IsActive" class="form-check-label"></label>
                        <span class="text-danger" asp-validation-for="IsActive"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-block" data-bs-dismiss="modal"><span class="fas fa-times"></span> Iptal Et</button>
                <button type="button" class="btn btn-info btn-block" id="btnSave"><span class="fas fa-save"></span> Ürün Kaydet</button>
            </div>
        </div>
    </div>
</div>